*{
    margin: 0;
}

.header{
    padding: 8px 16px;
    background-color: #fcb55883;
    justify-content:space-between;
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    background-image: url(/assets/images/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 93, 160);
    width: max-content;
    border-radius: 10px;

    img{
    width: 50px;
    height: 50px;
    }

}

.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    li{
        padding: 4px 12px;
        background-color: aqua;
        border-radius: 10px;
        a{
            color: #000000;
            text-decoration: none
        }
    }
}

.social-links{
    width: 60px;
    height: 60px;
}